.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 48px;
  gap: 16px;
}

.title {
  text-align: center;
}

.subtitle {
  text-align: center;
}

.token {
  color: #ffb800;
}
